body {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
    height: 8vh;
    text-align: center;
    padding-top: 5px;
    font-size: 34px;
    box-sizing: border-box;
    background-color: burlywood;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    overflow: hidden;
}

.container {
    box-shadow: 10px 10px 30px 10px rgb(141, 133, 133);
    height: 80vh;
    width: 60vw;
    border-radius: 10px;
    background-color: firebrick;
}

.input-container {
    border-bottom: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input {
    outline: none;
    border: none;
    border-radius: 5px;
    width: 30vw;
    height: 30px;
    font-size: 24px;
}

.btn1 {
    border: none;
    border-radius: 5px;
    height: 30px;
    font-size: 24px;
    background-color: red;
    color: aliceblue;
}

.output {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 1rem;
    height: 50vh;
    background-color: midnightblue;
    color: white;
    padding-top: 1rem; 
    padding: 5px;
    font-size: 35px;
    text-align: center;
    box-sizing: border-box;
}

.output-1-div {
    text-align: center;
    font-size: 26px;
    margin: 1rem;
    margin-bottom: 2rem;
    font-weight: bolder;
}

.output-2-divs {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 29px;
    color: rgb(236, 255, 127);
    margin: 1rem;
}

.restart-button {
    text-align: center;
    display: none;
}

.btn2 {
    width: 200px;
    height: 40px;
    font-size: 34px;
    background-color: rgb(117, 29, 168);
    color: white;
    border: none;
    border-radius: 10px;
}

@media (max-width: 760px) {

    .main {
        width: 100vw;
        height: 92vh;
        box-sizing: border-box;
        padding: 1rem;
    }

    .container {
        width: 100%;
    }
}

@media (max-width: 490px) {
    .output-1-div {
        font-size: 23px;
        margin: 0;
    }

    .output-2-divs {
        align-items: center;
        font-size: 24px;
    }

    .nav {
        font-size: 28px;
    }

    input {
        width: 60vw;
    }
    .hide{
        display: none;
    }
}